// contact page
.cm-contact-page {
    .main-title {
        font-size: 52px;
        font-weight: 400;

        u {
            display: block;
        }
    }
}

.cm-contact-area {
    display: flex;
    gap: 50px;
    flex-direction: column;

    .cm-contact-method {
        .section-title {
            color: var(--body-color);
            margin-bottom: 40px;
            font-weight: 400;
        }

        &__content {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 25px;

            @include mq($xl) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include mq($sm) {
                grid-template-columns: auto;
            }

            .single-contact-item {
                min-width: 275px;
                max-width: 100%;
                padding: 30px 30px;
                border-radius: 10px;
                border: 1px solid var(--border-color-2);
                transition: var(--transition);

                @include mq($xs) {
                    min-width: 100%
                }

                &:hover {
                    border-color: var(--cm-primary);
                }

                &__top {
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .cm-icon {
                        i {
                            font-size: 50px;
                            color: var(--cm-primary);
                        }
                    }

                    .cm-text {
                        text-align: right;

                        p {
                            max-width: 80px;
                            text-transform: capitalize;
                        }
                    }
                }

                &__bottom {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    a,
                    .location-text {
                        display: block;
                        font-size: 20px;
                        font-weight: 700;
                        font-family: var(--heading-font);
                        color: var(--cm-heading);
                    }

                    .location-text {
                        line-height: 30px;
                    }
                }
            }
        }
    }

    .cm-location-map {
        .section-title {
            color: var(--body-color);
            margin-bottom: 40px;
            font-weight: 400;
        }

        &__content {
            .cm-map-iframe {

                filter: grayscale(1);

                iframe {
                    max-height: max-content;
                    min-height: 400px;
                    width: 100%;
                    border-radius: 10px;
                    border: 0;

                    @include mq($sm) {
                        min-height: 350px;
                    }
                }
            }
        }
    }

    .cm-contact-form {
        .section-title {
            font-weight: 400;
            color: var(--body-color);
            margin-bottom: 40px;
        }

        &__content {
            .cm-form {
                .single-input {
                    display: flex;
                    gap: 25px;
                    margin-bottom: 20px;

                    @include mq($xs) {
                        flex-wrap: wrap;
                    }

                    &__item {
                        width: 50%;

                        @include mq($sm) {
                            width: 100%;
                        }

                        label {
                            span {
                                color: var(--cm-primary);
                            }

                            font-size: 14px;
                            color: var(--cm-label);
                        }

                        input,
                        textarea {
                            border-bottom: 1px solid var(--border-color-2);
                            border-left: 0;
                            border-right: 0;
                            border-top: 0;
                            padding: 0;
                            height: 30px;
                            background-color: transparent;
                            transition: var(--transition);
                            color: var(--cm-input);
                            background: var(--cm-mode);
                            @include mq($sm){
                                background: var(--cm-mode);
                            }
                            &:focus {
                                border-color: var(--cm-primary);
                            }

                            &:focus+label {
                                color: var(--cm-heading);
                            }
                        }

                        &.w-full {
                            width: 100%;

                            textarea {
                                min-height: 100px;
                                resize: none;
                                padding: 15px 0;
                            }
                        }
                    }
                }

                .cm-btn {
                    margin-top: 40px;
                    height: 66px;
                }
            }
        }
    }
}

// form default css
.cm-form {
    .single-input {
        display: flex;
        gap: 25px;
        margin-bottom: 20px;

        @include mq($sm) {
            flex-wrap: wrap;
        }

        &__item {
            width: 50%;

            @include mq($sm) {
                width: 100%;
            }

            label {
                span {
                    color: var(--cm-primary);

                }

                margin-bottom: 5px;
                font-size: 14px;
                color: var(--cm-label);
            }

            input,
            textarea {
                border-bottom: 1px solid var(--border-color-2);
                border-left: 0;
                border-right: 0;
                border-top: 0;
                padding: 0;
                height: 30px;
                transition: var(--transition);
                color: var(--cm-input);
                background: var(--cm-mode);
                @include mq($sm){
                    background: var(--cm-bg);
                }
                &:focus {
                    border-color: var(--cm-primary);

                    &+label {
                        color: var(--cm-heading);
                    }
                }
            }

            &.w-full {
                width: 100%;

                textarea {
                    min-height: 100px;
                    resize: none;
                    padding: 15px 0;
                }
            }
        }
    }

    .cm-btn {
        margin-top: 40px;
        height: 66px;
    }
}