ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
blockquote{
    position: relative;
    font-size: 20px;
    font-style: italic;
    padding-left: 50px;
    border-left: 5px solid var(--cm-primary);
    margin-bottom: 40px;
    span{
        color: var(--cm-primary);
    }
    @include mq($xs){
        padding-left: 30px;
    }
    &::before{
        position: absolute;
        left: 5px;
        content: '';
        height: 100%;
        width: 5px;
        background: var(--cm-primary);
    }
}
blockquote + p{
    margin-top: 40px;
}