@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Manrope:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    scroll-behavior: smooth;
  }
  
  /*---------------------------------
      typography css start 
  ---------------------------------*/
  html, body{
    scroll-behavior: smooth;
  }
  body {
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    color: var(--body-color);
    line-height: 26px;
    overflow-y: auto;
  }
  
  
  a {
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--heading-font);
    color: var(--cm-heading);
    margin-top: 0px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
    -webkit-transition: color 0.3s 0s ease-out;
    -moz-transition: color 0.3s 0s ease-out;
    -ms-transition: color 0.3s 0s ease-out;
    -o-transition: color 0.3s 0s ease-out;
    transition: color 0.3s 0s ease-out;
  }
  
  h1 {
    font-size: 48px;
    @include mq($xs){}
  }
  
  h2 {
    font-size: 40px;
  }
  
  h3 {
    font-size: 32px;
    @include mq($xs){
      font-size: 24px;
    }
  }
  
  h4 {
    font-size: 24px;
  }
  
  h5 {
    font-size: 20px;
  }
  
  h6 {
    font-size: 18px;
  }
  
  ul {
    margin: 0px;
    padding: 0px;
  }
  
  p {
    font-family: var(--body-font);
    margin-bottom: 15px;
    color: var(--body-color);
    &:last-child{
      margin-bottom: 0;
    }
  }
  
  a:not([href]):not([class]),
  a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
  }
  
  a:focus,
  .button:focus {
    text-decoration: none;
    outline: none;
  }
  
  a:focus,
  a:hover {
    text-decoration: none;
  }
  
  a,
  button {
    color: inherit;
    outline: none;
    border: none;
    background: transparent;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  button:focus {
    outline: 0;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  .capitalize {
    text-transform: capitalize;
  }
  
  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=number],
  input[type=password],
  input[type=url],
  textarea {
    outline: none;
    background-color: #fff;
    height: 60px;
    width: 100%;
    line-height: 60px;
    font-size: 14px;
    color: var(--cm-black);
    padding-left: 26px;
    padding-right: 26px;
    border: 1px solid #E0E2E3;
  }
  input[type=text]::-webkit-input-placeholder,
  input[type=email]::-webkit-input-placeholder,
  input[type=tel]::-webkit-input-placeholder,
  input[type=number]::-webkit-input-placeholder,
  input[type=password]::-webkit-input-placeholder,
  input[type=url]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #95999D;
  }
  input[type=text]::-moz-placeholder,
  input[type=email]::-moz-placeholder,
  input[type=tel]::-moz-placeholder,
  input[type=number]::-moz-placeholder,
  input[type=password]::-moz-placeholder,
  input[type=url]::-moz-placeholder,
  textarea::-moz-placeholder { /* Firefox 19+ */
    color: #95999D;
  }
  input[type=text]:-moz-placeholder,
  input[type=email]:-moz-placeholder,
  input[type=tel]:-moz-placeholder,
  input[type=number]:-moz-placeholder,
  input[type=password]:-moz-placeholder,
  input[type=url]:-moz-placeholder,
  textarea:-moz-placeholder { /* Firefox 4-18 */
    color: #95999D;
  }
  input[type=text]:-ms-input-placeholder,
  input[type=email]:-ms-input-placeholder,
  input[type=tel]:-ms-input-placeholder,
  input[type=number]:-ms-input-placeholder,
  input[type=password]:-ms-input-placeholder,
  input[type=url]:-ms-input-placeholder,
  textarea:-ms-input-placeholder { /* IE 10+  Edge*/
    color: #95999D;
  }
  input[type=text]::placeholder,
  input[type=email]::placeholder,
  input[type=tel]::placeholder,
  input[type=number]::placeholder,
  input[type=password]::placeholder,
  input[type=url]::placeholder,
  textarea::placeholder { /* MODERN BROWSER */
    color: #95999D;
  }
  [dir=rtl] input[type=text],
  [dir=rtl] input[type=email],
  [dir=rtl] input[type=tel],
  [dir=rtl] input[type=number],
  [dir=rtl] input[type=password],
  [dir=rtl] input[type=url],
  [dir=rtl] textarea {
    text-align: right;
  }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=tel]:focus,
  input[type=number]:focus,
  input[type=password]:focus,
  input[type=url]:focus,
  textarea:focus {
    border-color: var(--cm-black);
  }
  input[type=text]:focus::placeholder,
  input[type=email]:focus::placeholder,
  input[type=tel]:focus::placeholder,
  input[type=number]:focus::placeholder,
  input[type=password]:focus::placeholder,
  input[type=url]:focus::placeholder,
  textarea:focus::placeholder {
    opacity: 0;
  }
  
  textarea {
    line-height: 1.4;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  
  input[type=color] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    padding: 0;
    border-radius: 50%;
  }
  
  *::-moz-selection {
    background: var(--cm-black);
    color: var(--cm-white);
    text-shadow: none;
  }
  
  ::-moz-selection {
    background: var(--cm-black);
    color: var(--cm-white);
    text-shadow: none;
  }
  
  ::selection {
    background: var(--cm-black);
    color: var(--cm-white);
    text-shadow: none;
  }
  
  *::-moz-placeholder {
    color: var(--cm-black);
    font-size: 14px;
    opacity: 1;
  }
  
  *::placeholder {
    color: var(--cm-black);
    font-size: 14px;
    opacity: 1;
  }